@charset "utf-8";

body {
  background-color: #fff;
}
.contact {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
h1 {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 6.25em;
  position: absolute;
  top: 8.6%;
  left: 5.1%;
  z-index: 1;
  transform: rotate(90deg);
  transform-origin: left bottom;
}
.contact ul {
  display: flex;
  justify-content: end;
  gap: 25%;
}
.contact li {
  font-family: Palatino;
  font-weight: lighter;
}
.pc_nav {
  position: fixed;
  top: 7%;
  right: 3%;
  z-index: 100;
}

.pc-nav-contact {
  position: relative;
}
.pc-nav-contact::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-color: #ffd78d;
  border-radius: 50%;
  position: absolute;
  bottom: -60px;
  left: -50px;
  z-index: -1;
}
.contact_object {
  width: 833px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f9f5f1;
  position: absolute;
  top: -144px;
  left: -144px;
  z-index: -1;
}
.sp_nav,
.sp_btn {
  display: none;
}
@media screen and (max-width: 850px) {
  .pc_nav {
    display: none;
  }
  /*ハンバーガー*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: fixed;
    top: -57px;
    right: -40px;
    z-index: 101;
    width: 158px;
    height: 158px;
    background-color: #ffd78d;
    border-radius: 50%;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #826b63;
    border-radius: 2px;
    /*位置の調整ー*/
    position: relative;
    top: 95px;
    left: 45px;
    /*ボタンの変化*/
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background-color: #826b63;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }
  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20%;
    align-items: flex-start;
    height: 50%;
    padding: 35% 0 0 30%;
  }
  .sp_nav ul li {
    color: #826b63;
    font-size: 30px;
    font-family: Palatino;
  }
  h1 {
    font-size: 13vw;
    top: 6%;
  }
}

.contact_box {
  max-width: 100%;
  margin: 15% auto;
  position: relative;
}
h2 {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 1.3rem;
}
.contact_text {
  font-size: 22px;
  line-height: 2;
  max-width: 48%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.c-form {
  max-width: 48%;
  margin: 0 auto;
}
.c-form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.c-form__label,
.c-form__input {
  padding: 10px;
}
.c-form__label {
  width: 100%;
}
.c-form__input {
  width: 100%;
  font-size: 16px;
  border: solid 1px #826b63;
}
.c-form__input:focus-visible {
  outline: #e08e9f auto 1px;
}
.c-form__required {
  color: #fff;
  background-color: #e08e9f;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form__input {
  height: 200px;
}
.c-form__submit {
  text-align: center;
  padding-bottom: 80px;
}
.c-form__submit button {
  font-size: 20px;
  letter-spacing: 1.5em;
  text-indent: 1.5em;
  color: #fff;
  background-color: #e08e9f;
  border: solid 1px #e08e9f;
  border-radius: 50px;
  padding: 25px 210px;
  transition: 0.4s;
  cursor: pointer;
}
.c-form__submit button:hover {
  color: #e08e9f;
  background-color: transparent;
}
@media screen and (max-width: 1190px) {
  .c-form__submit button {
    padding: 25px 28%;
  }
}

@media screen and (max-width: 1000px) {
  .contact_title {
    top: 10%;
  }
  .contact_title h2 {
    font-size: 11vw;
  }
  .contact_title p {
    font-size: 2.4vw;
    letter-spacing: 0.26em;
    padding-bottom: 2%;
  }
  .contact_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  .contact_object {
    width: 108%;
    aspect-ratio: 1;
    right: 10%;
  }

  .contact_box {
    margin-top: 70%;
  }
}
@media screen and (max-width: 767px) {
  .contact_title {
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 10;
    transform: rotate(90deg);
    transform-origin: left bottom;
  }
  .contact_title h2 {
    font-size: 11vw;
  }

  .contact_title p {
    font-size: 2.4vw;
    letter-spacing: 0.26em;
    padding-bottom: 2%;
  }

  .contact_text {
    max-width: 62%;
    margin-right: 10%;
  }

  .c-form {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 8%;
  }
}
footer {
  background-color: #f9f5f1;
  position: relative;
}
footer .logo img {
  width: 11%;
  aspect-ratio: 1;
  position: absolute;
  top: 25%;
  left: 10%;
}
.footer_menu ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 30%;
  padding: 10% 0 3% 0;
  gap: 0;
}
.footer_menu li {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 12px;
}
.footer_menu img {
  display: block;
  margin: 0 auto;
  padding-bottom: 6%;
  width: 1.3%;
  height: auto;
}
small {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.copylight {
  font-size: 11px;
  text-align: center;
  padding-bottom: 3%;
}
@media screen and (max-width: 767px) {
  footer .logo img {
    display: block;
    position: initial;
    width: 150px;
    aspect-ratio: 1;
    padding-top: 70px;
    margin: 0 auto;
  }

  .footer_menu ul {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  .footer_menu li {
    font-family: Palatino;
    font-weight: lighter;
    font-size: 30px;
    line-height: 3em;
  }
  .footer_menu img {
    display: block;
    margin-left: 10%;
    padding-bottom: 6%;
    width: 36px;
    height: auto;
  }
}
