@charset "utf-8";

body {
  background-color: #f9f5f1;
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #f9f5f1;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 300px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 6.25em;
}
.pc_nav ul {
  display: flex;
  justify-content: end;
  gap: 25%;
  align-items: center;
}
.pc_nav li {
  font-family: Palatino;
  font-weight: lighter;
}
.pc-nav-contact {
  position: relative;
}
.pc-nav-contact::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-color: #ffd78d;
  border-radius: 50%;
  position: absolute;
  bottom: -60px;
  left: -50px;
  z-index: -1;
}
.mainvisual {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.mv_flex {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mv_flex .logo {
  width: 300px;
  aspect-ratio: 1;
}
.animation p {
  font-size: 20px;
  line-height: 2;
  width: 400px;
}
.blur {
  animation-name: blurAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

/*.mainvisual {
 /*display: flex;
  justify-content: center;
  max-width: 100%;
  padding-top: 250px;
  padding-bottom: 1200px;
  position: relative;
  overflow: hidden;
}*/
.pc_nav {
  position: fixed;
  top: 7%;
  right: 3%;
  z-index: 100;
}
.sp_nav,
.sp_btn {
  display: none;
}
/*.menu_object {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffd78d;
  position: fixed;
  top: -57px;
  right: -35px;
  z-index: 99;
}*/
.flame_top {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 33px;
  left: 170px;
  transform: rotate(-180deg);
  transform-origin: left bottom;
}
.flame_top2 {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 60px;
  left: 52px;
  transform: rotate(90deg);
  transform-origin: left top;
}
.flame_bottom {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  bottom: 150px;
  left: 52px;
  transform: rotate(90deg);
  transform-origin: left top;
}
.flame_bottom2 {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  bottom: 33px;
  left: 52px;
}
.flame_rigth {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 250px;
  right: 40px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
}
.flower_fv_bg {
  position: absolute;
  top: 42%;
  right: 3.9%;
}
@media screen and (max-width: 970px) {
  .mv_flex {
    display: flex;
    flex-direction: column;
  }
  .mv_flex .logo {
    width: 60%;
    aspect-ratio: 1;
  }
  .animation p {
    font-size: 15px;
    line-height: 2;
    width: 282px;
  }
}
@media screen and (max-width: 850px) {
  .menu_object {
    width: 158px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ffd78d;
    position: fixed;
    top: -55px;
    right: -33px;
    z-index: 99;
  }
  .pc_nav {
    display: none;
  }
  /*ハンバーガー*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: fixed;
    top: -57px;
    right: -40px;
    z-index: 101;
    width: 158px;
    height: 158px;
    background-color: #ffd78d;
    border-radius: 50%;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #826b63;
    border-radius: 2px;
    /*位置の調整ー*/
    position: relative;
    top: 95px;
    left: 45px;
    /*ボタンの変化*/
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background-color: #826b63;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }
  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20%;
    align-items: flex-start;
    height: 50%;
    padding: 35% 0 0 30%;
  }
  .sp_nav ul li {
    color: #826b63;
    font-size: 30px;
    font-family: Palatino;
  }
}
@media screen and (max-width: 375px) {
  .animation p {
    font-size: 15px;
    line-height: 2;
    width: 200px;
  }
  .mv_flex {
    gap: 40px;
  }
  .flame_top {
    top: 5px;
    left: 150px;
  }
  .flame_top2 {
    top: 40px;
    left: 25px;
  }
  .flame_bottom {
    bottom: 150px;
    left: 25px;
  }
  .flame_bottom2 {
    bottom: 20px;
    left: 25px;
  }
  .flame_rigth {
    top: 250px;
    right: 25px;
  }
}
.kumo-img {
  max-width: 100%;
  position: relative;
}

.kumo-img .flower_fv_bg {
  position: absolute;
  top: -10%;
  right: 3.9%;
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 9%;
  height: auto;
  margin-top: 15px;
}
.white_kumo {
  position: absolute;
  bottom: -15%;
}
@media screen and (max-width: 767px) {
  .kumo-img .flower_fv_bg {
    top: -25%;
    width: 20%;
    height: auto;
  }
}

#concept {
  background-color: #fff;
  position: relative;
}
.concept_title {
  text-align: end;
  margin-right: 4.2%;
}
.concept_title h2 {
  font-size: 6.25em;
  margin-bottom: 1.2%;
}
.concept_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
}
.concept_text {
  background-color: #fff;
  text-align: end;
  padding: 10% 14.6% 10% 0;
}
.concept_text p {
  font-size: 2.125em;
  letter-spacing: 0.37em;
  margin-bottom: 50px;
}
#concept .flower_concept_bg {
  position: absolute;
  left: 20%;
  top: 20%;
  animation: fuwafuwa 4s ease-in-out infinite alternate;
  background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 9.4%;
  height: auto;
}

#concept .leaf_concept_bg {
  position: absolute;
  right: 5%;
  top: 80%;
  animation: fuwafuwa 6s ease-in-out infinite alternate;
  background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
  width: 8.4%;
  height: auto;
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(25deg);
  }
  50% {
    transform: translate(0, -25px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(-25deg);
  }
}

.fadein {
  opacity: 0;
  animation: fadein 6s ease forwards;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}

/*以下遅延の指定*/
.txt01 {
  animation-delay: 1.5s;
}
.txt02 {
  animation-delay: 4.5s;
}
.txt03 {
  animation-delay: 7.5s;
}
@media screen and (max-width: 767px) {
  .concept_title {
    margin-right: 7%;
  }
  .concept_title h2 {
    font-size: 11vw;
  }
  .concept_title p {
    font-size: 2.4vw;
  }
  .concept_text {
    padding: 10% 7% 15% 0;
  }
  .concept_text p {
    font-size: 6.1vw;
  }
  #concept .flower_concept_bg {
    width: 14%;
    height: auto;
    left: 10%;
    top: 10%;
  }
  #concept .leaf_concept_bg {
    width: 13%;
    height: auto;
  }
}
#about {
  width: 100%;
  background-color: #fff;
}
.about {
  position: relative;
}

.about_title {
  position: absolute;
  top: -20%;
  left: 3%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.about_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
  padding-bottom: 2%;
}

.about_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #e9cbc6;
  position: absolute;
  left: -2.3%;
  top: -20%;
  z-index: 3;
}
.about_title h2 {
  font-size: 6.25em;
}
.about_wrap {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.about_text {
  width: 44%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f4e5e2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.about_text p {
  width: 80%;
  margin: 0;
  line-height: 1.5;
  text-align: left;
}

.about_text .about_img {
  position: absolute;
  width: 100%;
  scale: 1.25;
  z-index: 1;
}
.about_wrap .about_img2 {
  width: 25%;
  aspect-ratio: 1;
  position: absolute;
  z-index: 2;
  top: 40%;
  right: 60%;
}
.flower_about_bg {
  position: absolute;
  right: 3.6%;
  bottom: 0;
  width: 12%;
  height: auto;
}
a.btn--circle {
  width: 100px;
  height: 100px;
  padding: 0;
  background: #77aaad;
  border-radius: 50%;
}

a.btn--circle i {
  font-size: 150%;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0;
}
a.btn--circle:hover i {
  line-height: 55px;
}

.btn {
  height: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_wrap p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 150px;
}
@media screen and (max-width: 1366px) {
  .about_text {
    width: 600px;
  }
  .about_wrap .about_img {
    width: 716px;
    height: auto;
  }
  .about_wrap .about_img2 {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .about_wrap {
    padding-top: 20%;
  }
  .about_wrap .about_img {
    position: absolute;
    width: 716px;
    z-index: 1;
  }
  .about_wrap .about_img2 {
    width: 250px;
    top: 50%;
    right: 20%;
  }
}

@media screen and (max-width: 767px) {
  .about_title h2 {
    font-size: 11vw;
  }
  .about_title p {
    font-size: 2.4vw;
  }
  .about_object {
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #e9cbc6;
    position: absolute;
    left: -2.3%;
    top: 0%;
    z-index: 3;
  }
  .about_title {
    top: 0%;
    left: 3%;
  }
  .about_wrap .about_img2 {
    width: 50%;
    aspect-ratio: 1;
    position: absolute;
    z-index: 3;
    top: 60%;
    right: 0%;
  }

  .about_wrap {
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 50% 0 20% 0;
  }
  .about_text {
    scale: 1.25;
    margin-top: 20%;
  }
  .about_text p {
    font-size: 16px;
    width: 70%;
  }

  a.btn--circle {
    width: 75px;
    height: 75px;
    padding: 0;
    background: #77aaad;
    border-radius: 50%;
  }
  .flower_about_bg {
    width: 20%;
  }
}
@media screen and (max-width: 400px) {
  .about_text p {
    font-size: 3.5vw;
  }
  .about_wrap .about_img2 {
    width: 50vw;
    top: 57%;
  }
}
#service {
  max-width: 100%;
}
.service {
  position: relative;
  overflow: hidden;
}
.leaf_service_bg {
  position: absolute;
  top: 9.4%;
  left: 9.4%;
  width: 8.4%;
  height: auto;
}
.flower_service_bg {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 10%;
  height: auto;
  animation: fuwafuwa 6s ease-in-out infinite alternate;
  background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
  display: inline-block;
  transition: 1.5s ease-in-out;
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(25deg);
  }
  50% {
    transform: translate(0, -25px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(-25deg);
  }
}
.service_title {
  position: absolute;
  right: 6.2%;
  top: 10%;
}
.service_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 4%;
  right: -2.6%;
  z-index: -1;
}
.service_title h2 {
  font-size: 6.25em;
}

.service_title p {
  text-align: end;
  font-size: 1.563em;
  letter-spacing: 0.26em;
}
.service_wrap {
  display: flex;
  justify-content: center;
  max-width: 74%;
  margin: 0 auto;
  padding: 30% 0 20% 0;
}

.service_frex {
  width: 88%;
  margin: 0 auto 20% auto;
}

.service_detail_flame {
  width: 82%;
  aspect-ratio: 0.75;
  background-color: #fff;
  border-radius: 150px 150px 0 0;
  margin: 0 auto;
  position: relative;
}
.service_frex h3 {
  font-size: 2.4rem;
  font-family: Palatino;
  font-weight: lighter;
}
.h3_1 {
  text-align: center;
  padding-top: 100%;
}
.h3_2 {
  text-align: center;
  padding-top: 100%;
}
.h3_3 {
  text-align: center;
  padding-top: 100%;
}
.service_frex .img1 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 2%;
  left: 6%;
}
.service_frex .img2 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 2%;
  left: 6%;
}
.service_frex .img3 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 2%;
  left: 6%;
}
.service_frex p {
  width: 80%;
  line-height: 1.8rem;
  margin: 7% auto;
}
.anim {
  opacity: 0;
  transform: translate(0, 0);
  transition: all 1s;
  transform: translate(-40px, 0);
}
.scrollin {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
@media screen and (max-width: 1150px) {
  .service_wrap {
    max-width: 88%;
  }
  .service_frex h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 767px) {
  .service_object {
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 3%;
    right: -2.6%;
    z-index: -1;
  }
  .service_wrap {
    max-width: 88%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40%;
    margin-bottom: 20%;
  }

  .service_frex {
    margin: 33px auto !important;
  }
  .service_title {
    top: 4%;
  }
  .service_title h2 {
    font-size: 11vw;
  }
  .cservice_title p {
    font-size: 2.4vw;
  }
  .service_frex h3 {
    font-size: 10.4vw;
  }
  .leaf_service_bg {
    top: 6%;
    left: 6%;
    width: 16%;
  }
  .flower_service_bg {
    width: 15%;
    top: 90%;
    left: 10%;
  }
}

.service_detail_flame {
  border-radius: 220px 220px 0 0;
}
#works {
  max-width: 100%;
  background-color: #ffebc6;
}
.works {
  position: relative;
}
.flower_works_bg {
  position: absolute;
  top: 75%;
  left: 5%;
}

.works_title {
  position: absolute;
  top: -20%;
  left: 3%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.works_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
  padding-bottom: 2%;
}

.works_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffd78d;
  position: absolute;
  left: -2.3%;
  top: -20%;
  z-index: 3;
}

.worksbg_object .white_kumo {
  position: absolute;
  top: -40%;
  z-index: -2;
}
.worksbg_object .img_kumo {
  position: absolute;
  top: -30%;
  z-index: -1;
}

.slide img {
  display: flex;
  align-items: flex-end;
  transform: scale(0.5);
  transition: transform 0.3s;
  transform-origin: center bottom;
}
.slide h3 {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0.3em;
  text-indent: 0.5em;
  margin-bottom: 20px;
  display: none;
}
.slide p {
  font-size: 25px;
  text-align: center;
  display: none;
}
.slide.slick-center h3 {
  display: block;
}
.slide.slick-center p {
  display: block;
}
.slick-slide img {
  margin-bottom: 70px;
}

.slide.slick-center {
  max-width: 48%;
}
.slide.slick-center img {
  transform: scale(1);
  width: 100%;
  aspect-ratio: 1;
}

.slick-prev {
  top: 80%;
  left: 22%;
  z-index: 99;
}
.slick-prev {
  background-color: #ffd78d;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  translate: 100%;
}
.slick-next {
  top: 80%;
  right: 22%;
  z-index: 99;
  background-color: #ffd78d;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.slick-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  translate: 100%;
}

.slick-dots li button:before {
  background-color: #fff;
  width: 100px;
  height: 10px;
  display: block;
  content: "";
  opacity: 1;
}
.slick-dots li button {
  padding: 0;
}
.slick-dots {
  bottom: -70px;
}
.slick-dots li button {
  width: 100px;
  height: 10px;
}
.slick-dots li {
  width: 100px;
  height: 10px;
  margin: 0 5px;
}

.slick-dots li.slick-active button:before {
  background-color: #ffd78d;
  overflow: 1;
}
.slick-active {
  button {
    background: #ffd78d;
  }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #ffd78d;
}
@media screen and (max-width: 1070px) {
  .worksbg_object .white_kumo {
    position: absolute;
    top: -35%;
    z-index: -2;
  }
  .worksbg_object .img_kumo {
    position: absolute;
    top: -30%;
    z-index: -1;
  }
}

@media screen and (max-width: 900px) {
  .worksbg_object .white_kumo {
    position: absolute;
    top: -25%;
    z-index: -2;
  }
  .worksbg_object .img_kumo {
    position: absolute;
    top: -20%;
    z-index: -1;
  }
}
@media screen and (max-width: 767px) {
  .works_object {
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ffd78d;
    position: absolute;
    left: -2.3%;
    top: -6%;
    z-index: 3;
  }
  .worksbg_object .white_kumo {
    position: absolute;
    top: -15%;
    z-index: -2;
  }
  .worksbg_object .img_kumo {
    position: absolute;
    top: -10%;
    z-index: -1;
  }
  .works_title {
    top: -5%;
  }
  .works_title h2 {
    font-size: 11vw;
  }
  .works_title p {
    font-size: 2.4vw;
  }
  .works_wrap {
    padding-top: 40%;
  }
  .slide.slick-center img {
    transform: none;
  }
  .slick-dots li button:before {
    content: "";
    display: block;
    width: 60px;
    height: 8px;
    background-color: #fff;
    opacity: 1;
  }
  .slick-dots li {
    margin: 0 12px;
  }
  .flower_works_bg {
    top: 90%;
    left: 5%;
  }
  .slick-dots {
    bottom: -50px;
  }
  .slick-dots li button {
    width: 60px;
    height: 8px;
  }
  .slick-dots li {
    width: 60px;
    height: 8px;
    margin: 0 5px;
  }
  .slick-prev {
    top: 40%;
    left: 5%;
  }
  .slick-next {
    top: 40%;
    right: 5%;
  }
  .slide h3 {
    font-size: 6.5vw;
    margin-bottom: 10px;
  }
  .slide p {
    font-size: 5vw;
  }
  .slick-slide img {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 375px) {
  .works_wrap {
    padding-top: 20%;
  }
  .slide.slick-center img {
    transform: none;
  }
  .slick-prev {
    width: 25px;
    height: 25px;
    top: 40%;
    left: 5%;
  }
  .slick-prev:before {
    width: 7px;
    height: 7px;
    border-top: 1.5px solid #fff;
    border-left: 1.5px solid #fff;
  }
  .slick-next {
    width: 25px;
    height: 25px;
    top: 40%;
    right: 5%;
  }
  .slick-next:before {
    width: 7px;
    height: 7px;
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    transform: rotate(45deg);
    translate: 100%;
  }
  .slide img {
    transform: scale(0.6);
    transition: transform 0.3s;
    transform-origin: center;
    padding-top: 40px;
  }
}
#contact {
  width: 100%;
  background-color: #fff;
  position: relative;
}

#contact .img1 {
  position: absolute;
  top: -6%;
  left: 0%;
  z-index: 1;
}
.contact {
  padding-top: 50%;
}

.contact_title {
  position: absolute;
  top: 20%;
  left: 3%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.contact_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
  padding-bottom: 2%;
}

.contact_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f9f5f1;
  position: absolute;
  left: -2.3%;
  top: 20%;
  z-index: 3;
}
.contact_text {
  font-size: 22px;
  line-height: 2;
  max-width: 48%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.c-form {
  max-width: 48%;
  margin: 0 auto;
}
.c-form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.c-form__label,
.c-form__input {
  padding: 10px;
}
.c-form__label {
  width: 100%;
}
.c-form__input {
  width: 100%;
  font-size: 16px;
  border: solid 1px #826b63;
}
.c-form__input:focus-visible {
  outline: #e08e9f auto 1px;
}
.c-form__required {
  color: #fff;
  background-color: #e08e9f;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form__input {
  height: 200px;
}
.c-form__submit {
  text-align: center;
  padding-bottom: 80px;
}
.c-form__submit button {
  font-size: 20px;
  letter-spacing: 1.5em;
  text-indent: 1.5em;
  color: #fff;
  background-color: #e08e9f;
  border: solid 1px #e08e9f;
  border-radius: 50px;
  padding: 25px 210px;
  transition: 0.4s;
  cursor: pointer;
}
.c-form__submit button:hover {
  color: #e08e9f;
  background-color: transparent;
}
@media screen and (max-width: 1190px) {
  .c-form__submit button {
    padding: 25px 28%;
  }
}

@media screen and (max-width: 1000px) {
  .contact_title {
    top: 10%;
  }
  .contact_title h2 {
    font-size: 11vw;
  }
  .contact_title p {
    font-size: 2.4vw;
    letter-spacing: 0.26em;
    padding-bottom: 2%;
  }
  .contact_text {
    font-size: 16px;
  }

  .contact_object {
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #f9f5f1;
    position: absolute;
    left: -2.3%;
    top: 10%;
    z-index: 3;
  }
}
@media screen and (max-width: 767px) {
  .contact_title {
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 10;
    transform: rotate(90deg);
    transform-origin: left bottom;
  }
  .contact_title h2 {
    font-size: 11vw;
  }

  .contact_title p {
    font-size: 2.4vw;
    letter-spacing: 0.26em;
    padding-bottom: 2%;
  }

  .contact_object {
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #f9f5f1;
    position: absolute;
    left: -2.3%;
    top: 4%;
    z-index: 3;
  }
  .contact_text {
    max-width: 62%;
    margin-right: 10%;
  }

  .c-form {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 8%;
  }
}

footer {
  background-color: #f9f5f1;
  position: relative;
}
footer .logo img {
  width: 11%;
  aspect-ratio: 1;
  position: absolute;
  top: 25%;
  left: 10%;
}
.footer_menu ul {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 30%;
  padding: 10% 0 3% 0;
  gap: 0;
}
.footer_menu li {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 12px;
}
.footer_menu img {
  display: block;
  margin: 0 auto;
  padding-bottom: 6%;
  width: 1.3%;
  height: auto;
}
small {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.copylight {
  font-size: 11px;
  text-align: center;
  padding-bottom: 3%;
}
@media screen and (max-width: 767px) {
  footer .logo img {
    display: block;
    position: initial;
    width: 150px;
    aspect-ratio: 1;
    padding-top: 70px;
    margin: 0 auto;
  }

  .footer_menu ul {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  .footer_menu li {
    font-family: Palatino;
    font-weight: lighter;
    font-size: 30px;
    line-height: 3em;
  }
  .footer_menu img {
    display: block;
    margin-left: 10%;
    padding-bottom: 6%;
    width: 36px;
    height: auto;
  }
}
/*** 平垣内追加部分 ***/
.cloud {
  transform: translateY(30%);
  transition: 1.5s;
}
.cloud.active {
  transform: translate(0);
}
