@charset "utf-8";

body {
  background-color: #f9f5f1;
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #f9f5f1;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 300px;
}

/* fadeUpをするアイコンの動き */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 6.25em;
}
ul {
  display: flex;
  justify-content: end;
  gap: 25%;
}
li {
  font-family: Palatino;
  font-weight: lighter;
}
.mainvisual {
  max-width: 100%;
  height: 100vh;
  position: relative;
}
.mainvisual .logo {
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.mainvisual {
 /*display: flex;
  justify-content: center;
  max-width: 100%;
  padding-top: 250px;
  padding-bottom: 1200px;
  position: relative;
  overflow: hidden;
}*/
.pc_nav {
  position: fixed;
  top: 7%;
  right: 3%;
  z-index: 100;
}
.sp_nav,
.sp_btn {
  display: none;
}
.menu_object {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffd78d;
  position: fixed;
  top: -57px;
  right: -35px;
  z-index: 99;
}
.flame_top {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 33px;
  left: 170px;
  transform: rotate(-180deg);
  transform-origin: left bottom;
}
.flame_top2 {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 60px;
  left: 52px;
  transform: rotate(90deg);
  transform-origin: left top;
}
.flame_bottom {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  bottom: 150px;
  left: 52px;
  transform: rotate(90deg);
  transform-origin: left top;
}
.flame_bottom2 {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  bottom: 33px;
  left: 52px;
}
.flame_rigth {
  font-family: Palatino;
  color: #77aaad;
  font-size: 14px;
  letter-spacing: 0.3em;
  position: absolute;
  top: 386px;
  right: 40px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
}
.flower_fv_bg {
  position: absolute;
  top: 42%;
  right: 3.9%;
}
@media screen and (max-width: 850px) {
  .pc_nav {
    display: none;
  }
  /*ハンバーガー*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 45px;
    z-index: 101;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background-color: #826b63;
    border-radius: 2px;
    /*位置の調整ー*/
    position: relative;
    top: 40px;
    /*ボタンの変化*/
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background-color: #826b63;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }
  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .sp_nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20%;
    align-items: flex-start;
    height: 50%;
    padding: 35% 0 0 30%;
  }
  .sp_nav ul li {
    color: #826b63;
    font-size: 30px;
    font-family: Palatino;
  }
}
.kumo-img {
  max-width: 100%;
  position: relative;
}

.kumo-img .flower_fv_bg {
  position: absolute;
  top: -10%;
  right: 3.9%;
}
.white_kumo {
  position: absolute;
  bottom: -15%;
}
#concept {
  background-color: #fff;
  position: relative;
}
.concept_title {
  text-align: end;
  margin-right: 4.2%;
}
.concept_title h2 {
  font-size: 6.25em;
  margin-bottom: 1.2%;
}
.concept_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
}
.concept_text {
  background-color: #fff;
  text-align: end;
  padding: 10% 14.6% 10% 0;
}
.concept_text p {
  font-size: 2.125em;
  letter-spacing: 0.37em;
  margin-bottom: 50px;
}
#concept .flower_concept_bg {
  position: absolute;
  left: 20%;
  top: 20%;
}
#concept .leaf_concept_bg {
  position: absolute;
  right: 5%;
  top: 80%;
}

.fadein {
  opacity: 0;
  animation: fadein 6s ease forwards;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}

/*以下遅延の指定*/
.txt01 {
  animation-delay: 1s;
}
.txt02 {
  animation-delay: 3s;
}
.txt03 {
  animation-delay: 5s;
}
@media screen and (max-width: 767px) {
  .concept_title h2 {
    font-size: 11vw;
  }
  .concept_title p {
    font-size: 2.4vw;
  }
}
#about {
  width: 100%;
  background-color: #fff;
}
.about {
  position: relative;
}

.about_title {
  position: absolute;
  top: -20%;
  left: 3%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.about_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
  padding-bottom: 2%;
}

.about_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #e9cbc6;
  position: absolute;
  left: -2.3%;
  top: -20%;
  z-index: 3;
}
.about_title h2 {
  font-size: 6.25em;
}
.about_wrap {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}
.about_text {
  position: relative;
  z-index: 3;
  width: 44%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f4e5e2;
  text-align: right;
  margin-right: 17%;
}

.about_text p {
  position: absolute;
  left: 12%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 450px;
  text-align: left;
  font-size: 17px;
  line-height: 2rem;
}
.about_wrap .about_img {
  position: absolute;
  width: 53%;

  z-index: 1;
  top: -1%;
  right: 13%;
}
.about_wrap .about_img2 {
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  z-index: 2;
  top: 35%;
  right: 57%;
}
.flower_about_bg {
  position: absolute;
  right: 3.6%;
  bottom: 0;
}
a.btn--circle {
  width: 100px;
  height: 100px;
  padding: 0;
  background: #77aaad;
  border-radius: 50%;
}

a.btn--circle i {
  font-size: 150%;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0;
}
a.btn--circle:hover i {
  line-height: 55px;
}

.btn {
  height: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #77aaad;
}*/
.btn_wrap p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 150px;
}
@media screen and (max-width: 767px) {
  .about_title h2 {
    font-size: 11vw;
  }
  .about_title p {
    font-size: 2.4vw;
  }
}

#service {
  max-width: 100%;
}
.service {
  position: relative;
  overflow: hidden;
}
.leaf_service_bg {
  position: absolute;
  top: 9.4%;
  left: 9.4%;
}
.flower_service_bg {
  position: absolute;
  top: 70%;
  left: 25%;
}
.service_title {
  position: absolute;
  right: 6.2%;
  top: 10%;
}
.service_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 4%;
  right: -2.6%;
  z-index: -1;
}
.service_title h2 {
  font-size: 6.25em;
}

.service_title p {
  text-align: end;
  font-size: 1.563em;
  letter-spacing: 0.26em;
}
.service_wrap {
  display: flex;
  justify-content: center;
  max-width: 74%;
  margin: 0 auto;
  padding: 30% 0 20% 0;
}
.service_frex {
  width: 88%;
  margin: 0 auto 20% auto;
}
.service_detail_flame {
  width: 82%;
  aspect-ratio: 0.75;
  background-color: #fff;
  border-radius: 150px 150px 0 0;
  margin: 0 auto;
  position: relative;
}
.service_frex h3 {
  font-size: 2.4rem;
  font-family: Palatino;
  font-weight: lighter;
}
.h3_1 {
  text-align: center;
  padding-top: 100%;
}
.h3_2 {
  text-align: center;
  padding-top: 100%;
}
.h3_3 {
  text-align: center;
  padding-top: 100%;
}
.service_frex .img1 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 2%;
  left: 6%;
}
.service_frex .img2 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 2%;
  left: 6%;
}
.service_frex .img3 {
  width: 90%;
  height: auto;
  position: absolute;
  top: 2%;
  left: 6%;
}
.service_frex p {
  width: 80%;
  line-height: 1.8rem;
  margin: 7% auto;
}
@media screen and (max-width: 1150px) {
  .service_wrap {
    max-width: 88%;
  }
  .service_frex h3 {
    font-size: 3vw;
  }
}
@media screen and (max-width: 767px) {
  .service_wrap {
    max-width: 88%;
    flex-direction: column;
    align-items: flex-start;
    padding: 40% 0 20% 0;
  }

  .service_frex {
    margin: 66px auto !important;
  }

  .service_title h2 {
    font-size: 11vw;
  }
  .cservice_title p {
    font-size: 2.4vw;
  }
  .service_frex h3 {
    font-size: 10.4vw;
  }
}

.service_detail_flame {
  border-radius: 220px 220px 0 0;
}
#works {
  max-width: 100%;
  background-color: #ffebc6;
}
.works {
  position: relative;
}
.flower_works_bg {
  position: absolute;
  top: 75%;
  left: 5%;
}

.works_title {
  position: absolute;
  top: -20%;
  left: 3%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.works_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
  padding-bottom: 2%;
}

.works_object {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ffd78d;
  position: absolute;
  left: -2.3%;
  top: -20%;
  z-index: 3;
}

.worksbg_object .white_kumo {
  position: absolute;
  top: -40%;
  z-index: -2;
}
.worksbg_object .img_kumo {
  position: absolute;
  top: -35%;
  z-index: -1;
}
.works_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  transform: scale(0.5);
  transition: transform 0.3s;
}
.slide.slick-center img {
  transform: scale(1);
}
.slick-prev {
  top: 80%;
  left: 22%;
  z-index: 99;
}
.slick-prev:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  transform: rotate(-45deg);
}
.slick-next {
  top: 80%;
  right: 22%;
  z-index: 99;
}
.slick-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
}
.slick-dots li button:before {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
}
.slick-dots {
  bottom: -70px;
}
.slick-dots li {
  margin: 0 50px;
}
.slick-dots li.slick-active button:before {
  background-color: #ffd78d;
  overflow: 1;
}
.slick-active {
  button {
    background: #ffd78d;
  }
}
#contact {
  width: 100%;
  background-color: #fff;
}
.contact {
  position: relative;
  padding-top: 30%;
}
.contact .img1 {
  position: absolute;
  top: -10%;
  left: 0%;
  z-index: 1;
}
.contact_title {
  position: absolute;
  top: 46%;
  left: 3%;
  z-index: 10;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.contact_title p {
  font-size: 1.563em;
  letter-spacing: 0.26em;
  padding-bottom: 2%;
}

.contact_object {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f9f5f1;
  position: absolute;
  left: -2.3%;
  top: 50%;
  z-index: 3;
}
.contact p {
  max-width: 48%;
  margin: 0 auto;
  padding-top: 10%;
}
.c-form {
  max-width: 600px;
  margin: 0 auto;
}
.c-form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
  padding: 10px;
}
.c-form__label {
  width: 90%;
}
.c-form__input {
  width: 90%;
  font-size: 16px;
  border: solid 1px #333;
  border-radius: 4px;
}
.c-form__input:focus-visible {
  outline: green auto 1px;
}
.c-form__required {
  color: #fff;
  background-color: green;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form__input {
  height: 160px;
}
.c-form__submit {
  text-align: center;
}
.c-form__submit button {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: green;
  border: solid 1px green;
  border-radius: 4px;
  padding: 5px 32px;
  transition: 0.4s;
  cursor: pointer;
}
.c-form__submit button:hover {
  color: green;
  background-color: transparent;
}

@media (min-width: 640px) {
  .c-form__item {
    flex-wrap: nowrap;
  }
  .c-form__label {
    width: 40%;
  }
  .c-form__input {
    width: 55%;
  }
}
footer {
  background-color: #f9f5f1;
  position: relative;
}
.logo {
  width: 11%;
  aspect-ratio: 1;
  position: absolute;
  top: 25%;
  left: 12%;
}
.footer_menu ul {
  max-width: 18%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10% 0 3% 0;
}
.footer_menu li {
  font-family: Palatino;
  font-weight: lighter;
  font-size: 12px;
}
.footer_menu img {
  display: block;
  margin: 0 auto;
  padding-bottom: 6%;
}
small {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.copylight {
  font-size: 11px;
  text-align: center;
  padding-bottom: 3%;
}
