@charset "utf-8";
.thanks {
  max-width: 1080px;
  margin: 300px auto 0 auto;
}

h1 {
  font-family: Palatino;
  font-size: 60px;
  text-align: center;
  color: #77aaad;
  margin-bottom: 20px;
}
p {
  width: 55%;
  margin: 0 auto 70px auto;
  padding: 0 5px;
}
.logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}
a {
  display: block;
  text-align: center;
  margin: 20px;
}
@media screen and (max-width: 767px) {
  .thanks {
    max-width: 80%;
    margin: 200px auto 0 auto;
  }
  h1 {
    font-size: 9vw;
  }
  p {
    width: 100%;
  }
}
